<div class="container mt-5 shadow">
    <div class="row">
      <div class="col-7 mx-auto">
        <div class="row">
          <div class="col-6 bg-dark text-white">
            <h5 class="text-center">SignIn</h5>
          </div>
          <div class="col-6 shadow p-3">
            <!-- <div class="alert alert-danger" *ngIf="message">Email Already Exist</div> -->
            <input type="text" name="phone_no" placeholder="Phone Number" class="form-control mb-3">
            <input type="email" name="email" placeholder="Email" class="form-control mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control mb-3">
            <button class="btn btn-dark w-100">Sign_In</button> <br>
          </div>
        </div>
      </div>
     
    </div>
  </div>
