<!-- <app-sign-up></app-sign-up> -->
<ul class="nav justify-content-end bg-dark text-light">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home"><b>Home</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup"><b>Sign_Up</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signin"><b>Sign_In</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/budget"><b>Budget</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/list"><b>Budget List</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>


<router-outlet></router-outlet>