<!-- <app-sign-up></app-sign-up> -->
<ul class="nav justify-content-end bg-dark text-light">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup">Sign_Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signin">Sign_In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>

<router-outlet></router-outlet>