<div class="container-fluid bg-dark p-5" style="height: 100vh">
  <div class="row p-5">
    <div class="col-5 p-5 text-center m-5 shadow text-white mx-auto bg-danger" style="height: 70vh;">
      <h1><i>WELCOME TO OUR HOME PAGE MANAGER</i></h1>
      <i>We manage your Task!!!</i>
      <br>
      <div class="roww">
      <button class="col-6 btn btn-outline-dark mt-5" routerLink="/signin">Sign_In</button>
      <br>
      <button class="col-6 btn btn-outline-dark mt-5" routerLink="/signup">Sign_Up</button>
    </div>
    </div>
  </div>
</div>
